<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Social Skills</th>
    <th>Social Accounts</th>
  </tr>
  <tr *ngFor="let person of this.service.people">
    <td>{{ person.firstname }}</td>
    <td>{{ person.lastname }}</td>
    <td>
      <div class="skills">
        <p *ngFor="let skill of person.socialSkills">
          {{ "- " + skill.description }}
        </p>
      </div>
    </td>
    <td>
      <div class="accounts" *ngFor="let account of person.socialAccounts">
        <p  class="accountType">
          {{ account.type + ": " }}
        </p>
        <p >
          <a class="accountAddress" href="{{ account.address }}">{{
            account.address
          }}</a>
        </p>
      </div>
    </td>
  </tr>
</table>
