table {
    margin-top:1rem;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    height: 3rem;
    width: 8rem;
    vertical-align: middle;
    font-size: .8rem;
    font-family: 'Vollkorn', serif;
}

p {
    font-family: 'Vollkorn', serif;

}

th {
    background-color: rgb(59, 99, 193);
    color: white;
}

td {
    text-align: center;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(220, 220, 220);
    padding-left: .2rem;
    padding-right: .2rem;
}

.actions {
    font-weight: 500;
    color: black;
    transition: .2s;
}

.actions:hover {
    transition: .2s;
    text-decoration: underline;

}

.skills, .accounts {
    background-color: rgb(236, 236, 236);

}

.accountType {
    font-weight: 600;
}

.accountAddress {
    font-family: 'Vollkorn', serif;
    color: rgb(59, 99, 193);
}

.accountAddress:hover {
    text-decoration: underline;
}

td, p ,a {
    padding: .2rem;
}