.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.navigation { 
    grid-area: 1 / 1 / 2 / 6; 
    background-color: blue;
    height: 100%;
    width: 100%;
}
.main { 
    grid-area: 2 / 1 / 6 / 6;
    background-color: yellow; 
    height: 100%;
    width: 100%;
}